@import "tailwindcss";

:root {
  --font-display: "Poppins", sans-serif;
  --color-primary: #1d4ed8;
}
@layer base {
  html{
    font-family: var(--font-display);
  }
  body {
    background-color: #f3f4f6;
    color: #111827;
    overflow-x:hidden; ;
  }
}